<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Angular.Material" version="1.1.12" targetFramework="net472" />
  <package id="AngularJS.Animate" version="1.7.8" targetFramework="net472" />
  <package id="AngularJS.Aria" version="1.7.8" targetFramework="net472" />
  <package id="AngularJS.Core" version="1.7.8" targetFramework="net472" />
  <package id="BetterSelectList" version="0.0.12" targetFramework="net472" />
  <package id="BetterTabControl" version="1.0.19295.1523" targetFramework="net472" />
  <package id="Bootstrap.Switch" version="3.3.2.1" targetFramework="net472" />
  <package id="CircleAnglePicker" version="1.0.0" targetFramework="net472" />
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net472" />
  <package id="CSharp.Winform.UI" version="1.0.1.3" targetFramework="net472" />
  <package id="JWLibrary.Winform" version="0.1.0" targetFramework="net472" />
  <package id="MahApps.Metro" version="1.6.5" targetFramework="net472" />
  <package id="MahApps.Metro.Resources" version="0.6.1.0" targetFramework="net472" />
  <package id="MaterialDesignColors" version="1.2.0" targetFramework="net472" />
  <package id="MaterialDesignThemes" version="2.6.0" targetFramework="net472" />
  <package id="MaterialSkin" version="0.2.1" targetFramework="net472" />
  <package id="MetroModernUI" version="1.4.0.0" targetFramework="net472" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.7" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration" version="3.0.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="3.0.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="3.0.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection" version="3.0.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="3.0.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging" version="3.0.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="3.0.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options" version="3.0.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="3.0.1" targetFramework="net472" />
  <package id="Microsoft.NETCore.Platforms" version="3.0.0" targetFramework="net472" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net472" />
  <package id="Mono.Security" version="3.2.3.0" targetFramework="net472" />
  <package id="NetDimension.WinForm.ModernUI" version="1.0.1" targetFramework="net472" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="ObjectListView" version="2.7.1.5" targetFramework="net472" />
  <package id="ObjectListView.Official" version="2.9.1" targetFramework="net472" />
  <package id="OKHOSTING.Core" version="2.0.2" targetFramework="net472" />
  <package id="OKHOSTING.Data" version="2.0.0" targetFramework="net472" />
  <package id="OKHOSTING.UI" version="1.0.27" targetFramework="net472" />
  <package id="PCLCrypto" version="2.0.147" targetFramework="net472" />
  <package id="PInvoke.BCrypt" version="0.3.2" targetFramework="net472" />
  <package id="PInvoke.Kernel32" version="0.3.2" targetFramework="net472" />
  <package id="PInvoke.NCrypt" version="0.3.2" targetFramework="net472" />
  <package id="PInvoke.Windows.Core" version="0.3.2" targetFramework="net472" />
  <package id="RestSharp" version="106.6.10" targetFramework="net472" />
  <package id="RestSharp.Newtonsoft.Json" version="1.5.1" targetFramework="net472" />
  <package id="RestSharpSigned" version="105.2.3" targetFramework="net472" />
  <package id="SearchPlaces" version="1.0.0" targetFramework="net472" />
  <package id="Syncfusion.Chart.Base" version="17.3.0.28" targetFramework="net472" />
  <package id="Syncfusion.Chart.Windows" version="17.3.0.28" targetFramework="net472" />
  <package id="Syncfusion.Compression.Base" version="17.3.0.28" targetFramework="net472" />
  <package id="Syncfusion.Compression.Net.Core" version="17.3.0.28" targetFramework="net472" />
  <package id="Syncfusion.Core.WinForms" version="17.3.0.28" targetFramework="net472" />
  <package id="Syncfusion.Data.WinForms" version="17.3.0.28" targetFramework="net472" />
  <package id="Syncfusion.DataSource.WinForms" version="17.3.0.28" targetFramework="net472" />
  <package id="Syncfusion.Diagram.Base" version="17.3.0.28" targetFramework="net472" />
  <package id="Syncfusion.Diagram.Windows" version="17.3.0.28" targetFramework="net472" />
  <package id="Syncfusion.Edit.Windows" version="17.3.0.28" targetFramework="net472" />
  <package id="Syncfusion.Grid.Base" version="17.3.0.28" targetFramework="net472" />
  <package id="Syncfusion.Grid.Grouping.Windows" version="17.3.0.28" targetFramework="net472" />
  <package id="Syncfusion.Grid.Windows" version="17.3.0.28" targetFramework="net472" />
  <package id="Syncfusion.GridCommon.WinForms" version="17.3.0.28" targetFramework="net472" />
  <package id="Syncfusion.Grouping.Base" version="17.3.0.28" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="17.3.0.28" targetFramework="net472" />
  <package id="Syncfusion.Pdf.Net.Core" version="17.3.0.28" targetFramework="net472" />
  <package id="Syncfusion.Pdf.WinForms" version="17.3.0.28" targetFramework="net472" />
  <package id="Syncfusion.PdfViewer.Windows" version="17.3.0.28" targetFramework="net472" />
  <package id="Syncfusion.SfBarcode.Windows" version="17.3.0.28" targetFramework="net472" />
  <package id="Syncfusion.SfDataGrid.WinForms" version="17.3.0.28" targetFramework="net472" />
  <package id="Syncfusion.SfInput.WinForms" version="17.3.0.28" targetFramework="net472" />
  <package id="Syncfusion.SfListView.WinForms" version="17.3.0.28" targetFramework="net472" />
  <package id="Syncfusion.SfSmithChart.WinForms" version="17.3.0.28" targetFramework="net472" />
  <package id="Syncfusion.Shared.Base" version="17.3.0.28" targetFramework="net472" />
  <package id="Syncfusion.Shared.Windows" version="17.3.0.28" targetFramework="net472" />
  <package id="Syncfusion.SpellChecker.Base" version="17.3.0.28" targetFramework="net472" />
  <package id="Syncfusion.Tools.Base" version="17.3.0.28" targetFramework="net472" />
  <package id="Syncfusion.Tools.Windows" version="17.3.0.28" targetFramework="net472" />
  <package id="Syncfusion.TreeMap.Windows" version="17.3.0.28" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.Core" version="17.3.0.28" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.SfCalendar" version="17.3.0.28" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net472" />
  <package id="System.ComponentModel.Annotations" version="4.6.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.3" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.6.0" targetFramework="net472" />
  <package id="ToggleSwitch" version="1.1.2" targetFramework="net472" />
  <package id="Validation" version="2.4.22" targetFramework="net472" />
  <package id="Xamarin.Forms" version="3.6.0.344457" targetFramework="net472" />
  <package id="Zeroit.Framework.Metro" version="1.0.0" targetFramework="net472" />
</packages>